
<div>
    <h1 class="h1">PelisTandilAPP</h1>
    <p class="lead">PelisTandilAPP es la mejor página para ver peliculas online desde cualquier lugar donde te encuentres gracias a su facilidad, no hay de que procuparse si ingresar a nuestra web desde un computador, celular o tablet el diseño se va ajusta a cada disposivito para que puedas ver peliculas en cuevana de forma comoda, solo basta con ingresar a PelisTandilAPP.</p>
    <p class="lead"> Como es costumbre en PelisTandilAPP encontratras peliculas y series, subtitulado, tambien en castellano y en latino. Aqui tambien podras ver peliculas, sin cortes sin publicidad completamente gratis en HD.</p>
    <img width="400" class="img-thumbnail" src="https://iili.io/HqGfxQp.webp" alt="cine">
</div>

